/* Default */

.row {
    width: 100%;
}

.container-content {
    max-width: 100%!important;
}

.col-12.text-left {
    padding-right: 0;
    padding-left: 0;
}

#carouselChooseSlideshow {
    max-width: 1100px;
}

#linkSlideshow {
    margin-bottom: 10px!important;
}

h1, h2, h3, h4, h5, h6 {
    color: #2D002B!important;
}

.landing {
    margin-top: 20px;
}

.carousel-control-prev {
    margin-left: -80px!important;
}

.carousel-control-next {
    margin-right: -80px!important;
}

mark, strong {
    color: #FD508A!important;
    background: none!important;
    font-weight: 400!important;
}

.pagination {
    height: 6px;
    max-width: 200px;
    margin: 0 auto;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.pagination__item {
    width: 31px;
    height: 6px;
    background-color: #FFA1C1;
    border-radius: 40px;
    transition: background-color .2s ease;
}

.pagination__item:last-child {
    margin-right: 0;
}

.pagination__item.active {
    background-color: #FD508A;
}

.carousel-indicators li {
    width: 31px!important;
    height: 6px!important;
    background-color: #FFA1C1!important;
    box-sizing: border-box!important;
    border-radius: 40px;
    border-top: none!important;
    border-bottom: none!important;
}

#carouselChooseSlideshow {
    margin-bottom: 2rem!important;
}

.carousel-indicators {
    bottom: -37px!important;
}

/* Custom */

.welcome {
    margin-bottom: 100px;
}

.welcome__unicorn {
    position: absolute;
    top: -110px;
    width: 112px;
    left: -20%;
}

.welcome__info {
    text-align: center;
    margin-bottom: 100px;
    max-width: 855px;
    margin: 0 auto;
    position: relative;
}

.welcome__info-title {
    margin-bottom: 35px;
}

.welcome__info-title > h2 {
    font-size: 25px!important;
    text-transform: capitalize;
}

.welcome__info-description {
    font-family: Montserrat, sans-serif;
    font-size: 18px!important;
}

.steps {
    
}

.steps__clue {
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
}

.steps__clue > p {
    font-family: Montserrat, sans-serif;

}

.steps__step {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.steps__step:nth-child(2n) {
    flex-direction: row-reverse;
}

.steps__step:nth-child(2n) .steps__step-number {
    right: 0;
    left: 80px;
}

.steps__step-text {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    max-width: 600px;

}

.steps__step-text > p > mark {
    color: #FD508A;
    background: none!important;
}

.steps__step-info {
    position: relative;
}

.steps__step-img {
    position: relative;
    filter: drop-shadow(0px 4px 39px rgba(253, 80, 138, 0.25));
    -webkit-filter: drop-shadow(0px 4px 39px rgba(253, 80, 138, 0.25));
    margin-bottom: 35px;
}

.steps__step-background {
    position: absolute;
    top: -50px;
    left: -50px;
    max-width: 100%;
    z-index: -1;
}

.steps__step-img > img {
    -webkit-mask-box-image: url("../img/mask1.svg");
    mask-border: url("../img/mask1.svg");
}

.steps__step-clue {
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: #FD508A;
}

.steps__step-number {
    position: absolute;
    top: -130px;
    right: 80px;
}

.steps__step-number > p {
    font-family: Montserrat, sans-serif;
    font-size: 160px!important;
    color: transparent;
    font-weight: 900;
    -webkit-text-stroke: 1px #FD508A;
    text-stroke: 1px #FD508A;
    background: none;
}

#linkSlideshow:hover {
    background-color: #fff;
    color: #FD508A;
    transition: background-color .2s ease, color .2s ease;
    -webkit-transition: background-color .2s ease, color .2s ease;
    -moz-transition: background-color .2s ease, color .2s ease;
    -ms-transition: background-color .2s ease, color .2s ease;
    -o-transition: background-color .2s ease, color .2s ease;
}

.figure_video>div, #carouselChooseSlideshow video {
    max-width: 1000px!important;
}

.figure_video>div, #carouselChooseSlideshow video {
    width: 100%;
    max-width: 1000px;
    
}

.steps {
    margin-bottom: 120px;
}

.video_end {
    display: block;
    max-width: 226px;
    text-align: center;
    margin: 0 auto;
}

/* ADAPT */

@media screen and (max-width: 1280px) {
    .carousel-control-next {
        right: 140px!important;
    }
    .carousel-control-prev {
        left: 140px!important;
    }
    .carousel-control-prev, .carousel-control-next {
        opacity: 0.4!important;
    }
    :is(.carousel-control-prev, .carousel-control-next):hover {
        opacity: 1!important;
    }
    .welcome__unicorn {
        position: relative;
        top: 0;
        left: 0;
    }
    .steps__step {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .steps__step:nth-child(2n) {
        flex-direction: column;
    }
    .steps__step-text {
        text-align: center!important;
    }
    .steps__step-number {
        top: -19px;
    }
    .steps__step-number > p {
        font-size: 50px!important;
    }
    .steps__step-text {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 720px) {
    body.single-landing_slideshow article.landing {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .carousel-control-next {
        right: 100px!important;
    }
    .carousel-control-prev {
        left: 100px!important;
    }
}

@media screen and (max-width: 414px) {
    
    .welcome__info-title {
        max-width: 325px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .welcome__info-description {
        max-width: 325px;
        margin: 0 auto;
    }
    .steps__step-number {
        top: -39px;
        right: 40px;
    }
    .steps__step:nth-child(2n) .steps__step-number {
        left: 30px;
    }
}